[program:{{ app }}]
command={{ app_path }}/bin/uwsgi --ini {{ uwsgi_ini_path }}
autostart=true
autorestart=true
startretries=3
stdout_logfile={{ log_path }}/uwsgi-out.log
stdout_logfile_maxbytes=0
stderr_logfile={{ log_path }}/uwsgi-err.log
stderr_logfile_maxbytes=0
user={{ user }}
stopsignal=INT
